@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body{
    margin: 0px;
    background-color: #F5F5F7;
    letter-spacing: -0.5px;
    font-family: "Inter";
}

nav{
    background-color: #F5F5F7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

.headbar{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.elemento_navbar{
    font-family: "Inter";
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 200ms transform ease-in-out;
    display: inline-block;
}

.elemento_navbar:hover{
    transform:rotateY(30deg)
}

.logo_navbar{
    height: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

.bar1{
    background-color:white;
    height: fit-content;
}

.bar1 > div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bar1 > div > span{
    font-size: 14px;
    font-weight:350;
}

.blue_link{
    color: #0066CC;
    text-decoration: none;
}

.blue_link:hover{
    text-decoration: underline;
}

#title{
    text-align: center;
    width:auto;
    background-color: white;
    padding: 50px;
    background-color: #F5F5F7;
}

.sottotitolo{
    font-size: 30px;
    color: #6E6E73;
    font-weight: 600;
}

#benvenuto_text {
    font-family: "Inter", sans-serif;
	font-size: 100px;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -3px;
	animation: weight 2s infinite;
	animation-delay: calc(var(--char-index) * 150ms);
}

@keyframes weight {
	from {
		font-weight: 200;
	}

	50% {
		font-weight: 900;
	}

	to {
		font-weight: 200;
	}
}

.box{
    padding-left: 7%;
    padding-right: 7%;
    background-color: #F5F5F7;
}

.box_title{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.gallery2{
    padding-top: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    white-space: nowrap;
}

.gallery{
    height: fit-content;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 40px;
}

.card{
    box-shadow: 1px 1px 5px rgb(163, 163, 163); 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 500px;  
    background: white;  
    border-radius: 40px;
    display:inline-block;
    transition: 200ms transform ease-in-out;
}

.card:hover{
    transform: scale(1.025);
}

.card_uptitle{
    width: fit-content;
    font-size: 14px;
    position: relative;
    top: 30px;
    left: 30px;
}

.card_title{
    width: fit-content;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 40px;
    left: 30px;
    width:fit-content;
}

.card_text{
    width: fit-content;
    font-size: 18px;
    position: relative;
    top: 50px;
    left: 30px;
}

#iphone15pro_c{
    color:white;
    background-image: url(images/card/iphone15pro.jpeg);
}

#macbookpro_c{
    background-image: url(images/card/macbookpro.jpeg);
}

#iphone15_c{
    background-image: url(images/card/iphone15.jpeg);
}

#watch_c{
    color: white;
    background-image: url(images/card/watch.jpeg);
}

#macbookair_c{
    background-image: url(images/card/macbookair.jpeg);
}

#ipad_c{
    background-image: url(images/card/ipad.jpeg);
}

.card2{
    box-shadow: 1px 1px 5px rgb(163, 163, 163); 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;  
    height: 200px;
    background: white;  
    border-radius: 30px;
    display: inline-block;
    transition: 200ms transform ease-in-out;
}

.card2:hover{
    transform: rotateZ(1deg);
}

.card3{
    box-shadow: 1px 1px 5px rgb(163, 163, 163); 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 470px; 
    height: 470px;  
    background: white;  
    border-radius: 40px;
    display: inline-block;
    transition: 200ms transform ease-in-out;
}

.card3:hover{
    transform: scale(1.025);
}

#specialist_c{
    background-image: url(images/card3/specialist.jpeg);
}

#storesession_c{
    background-image: url(images/card3/storesession.jpeg);
}

/*------------------------------CATALOGO-----------------------------------*/

.product_flow{
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F7;
}


.card4{
    box-shadow: 1px 1px 5px rgb(163, 163, 163); 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;  /*320 x 400*/
    height: 500px;  
    background: white;  
    border-radius: 40px;
    display:inline-block;
    transition: 200ms transform ease-in-out;
    overflow: hidden;
}

.card4:hover{
    transform: scale(1.025);
}

.card4_uptitle{
    width: fit-content;
    font-size: 14px;
    position:relative;
    top: 30px;
    left: 30px;
}

.card4_title{
    width: fit-content;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 40px;
    left: 30px;
    width:fit-content;
}

.card4_price{
    float: right;
    width: fit-content;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 460px;
    left: -40px;
    transition: 200ms transform ease-in-out;
}

.card4:hover .card4_price{
    transform: translateY(-100px);
}


/*----------------PRODUCT TYPE-----------------------------*/
.video_product_box{
    background-color: rgb(255, 0, 0);
    margin-left:  7%;
    margin-right: 7%;
    height: 700px;
    display:bloc;
    overflow: hidden;
    margin-bottom: 600px;
    text-align: center;
}


.video_product{
    position: relative;
    bottom: 20%;
}