/*---------------------GENERAL--------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*{
    font-family: "Inter", sans-serif;
}

body{
    margin: 0px;
    background-color: #F5F5F7;
    letter-spacing: -0.5px;
}

a{
    text-decoration: none;
    color: black;
}

.blue_link{
    color: #0066CC;
    text-decoration: none;
}

.blue_link:hover{
    text-decoration: underline;
}

/*-----------------NAVBAR------------------*/

nav{
    background-color: #F5F5F7;
    padding:10px;
    margin: auto;
}


.headbar{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.elemento_navbar{
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 200ms transform ease-in-out;
    display: inline-block;
}

.elemento_navbar:hover{
    transform:rotateY(30deg)
}

.logo_navbar{
    height: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 940px) {
    nav{
        padding:5px;
    }
    
    .elemento_navbar{
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

}

/*-------------COMMERCIAL-BAR--(bar1)------------*/

.bar1{
    background-color:white;
    height: fit-content;
}

.bar1 > div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bar1 > div > span{
    font-size: 14px;
    font-weight:350;
}

@media screen and (max-width: 940px) {
    .bar1 > div{
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
    }
}

/*--------------------TITOLI------------------*/

.container_titolo{
    text-align: center;
    width:auto;
    background-color: white;
    padding: 50px;
    background-color: #F5F5F7;
}

.sottotitolo{
    font-size: 30px;
    color: #6E6E73;
    font-weight: 600;
}

.titolo{
	font-size: 100px;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -3px;
	animation: weight 2s infinite;
	animation-delay: calc(var(--char-index) * 150ms);
}

@keyframes weight {
	from {
		font-weight: 200;
	}

	50% {
		font-weight: 900;
	}

	to {
		font-weight: 200;
	}
}

@media screen and (max-width: 940px) {
    .container_titolo{
        padding-left: 10px;
        padding-right: 10px;
    }

    .titolo{
        font-size: 70px;
    }
    .sottotitolo{
        font-size: 20px;
    }
}

/*-----------------PARTI DELLA PAGINA-------------*/

.box{
    padding-left: 7%;
    padding-right: 7%;
}

.box_title{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.gallery{
    height: fit-content;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 40px;
}

.gallery2{
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    white-space: nowrap;
}

@media screen and (max-width: 940px) {
    .box_title{
        padding-left: 0px;
        padding-right: 20px;
        padding-top: 20px;
    }
}

/*--------------CARD SCHERMATA BENVENUTO-------------------*/

.card{
    box-shadow: 1px 1px 5px rgb(163, 163, 163); 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 500px;  
    background: white;  
    border-radius: 40px;
    display:inline-block;
    transition: 200ms transform ease-in-out, 200ms border-radius ease-in-out;
}

.card:hover{
    transform: scale(1.025);
    border-radius: 20px;
}

.card_uptitle{
    width: fit-content;
    font-size: 14px;
    position: relative;
    top: 30px;
    left: 30px;
}

.card_title{
    width: fit-content;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 40px;
    left: 30px;
}

.card_text{
    width: fit-content;
    font-size: 18px;
    position: relative;
    top: 50px;
    left: 30px;
}

@media screen and (max-width: 940px) {
    .card{
        width: 90%;
        height: 90%height;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card_uptitle{
        font-size: 14px;
    }

    .card_title{
        font-size: 22px;
    }

    .card_text{
        display: flex;


        top: 60px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        position: relative;
    }
}

/*-----------------CARD1 DELLA SCHERMATA PRINCIPALE---------------*/

#iphone15pro_c{
    color:white;
    background-image: url(images/card/iphone15pro.jpeg);
}

#macbookpro_c{
    background-image: url(images/card/macbookpro.jpeg);
}

#iphone15_c{
    background-image: url(images/card/iphone15.jpeg);
}

#watch_c{
    color: white;
    background-image: url(images/card/watch.jpeg);
}

#macbookair_c{
    background-image: url(images/card/macbookair.jpeg);
}

#ipad_c{
    background-image: url(images/card/ipad.jpeg);
}

.card2{
    box-shadow: 1px 1px 5px rgb(163, 163, 163); 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;  
    height: 200px;
    background: white;  
    border-radius: 30px;
    display: inline-block;
    transition: 200ms transform ease-in-out;
}

.card2:hover{
    transform: rotateZ(1deg);
}

.card3{
    box-shadow: 1px 1px 5px rgb(163, 163, 163); 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 470px; 
    height: 470px;  
    background: white;  
    border-radius: 40px;
    display: inline-block;
    transition: 200ms transform ease-in-out, 200ms border-radius ease-in-out;
}

.card3:hover{
    transform: scale(1.025);
    border-radius: 25px;
}

@media screen and (max-width: 940px) {
    .card3{
        width: 90%;
        height: 90%height;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card2{
        width: 90%;
        height: 50%height;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

}